header {
    background: linear-gradient(to bottom, #ffffff, #ffffff55);
    width: 100%;
    position: fixed;
    top: 0;
}

#header-logo {
    margin-left: 10vw;
}

#header-logo-icon {
    height: auto;
    width: 4vw;
    margin-top: 0.6vw;
    margin-bottom: 0.2vw;
}

#header-logo-text {
    height: auto;
    width: 8vw;
    margin-left: 0.6vw;
    margin-top: -0.6vw;
}

#header-menu {
    margin-left: auto;
    margin-right: 8vw;
}

.menu-element {
    margin: auto 0;
    margin-left: 3vw;
    text-align: center;
    font-weight: 600;
}

.menu-text {
    padding: 0.6vw 0;
    border-bottom: 0.1vw solid #ffffff00;
    transition: 300ms;
}

.menu-text:hover {
    border-bottom: 0.1vw solid #242424;
    transition: 300ms;
}

#header-menu span {
    font-size: 1.4vw;
}

