#try-it-screen {
    /* background: url("./../images/backgrounds/try-bg1.svg") no-repeat; */
    background-size: cover;
}

#in-try {
    padding: 6vw;
}

#try-text {
    padding-left: 6vw;
    padding-top: 6vw;
}

#try-text span {
    background-color: #ffffffbd;
    padding: 2vw;
    border-radius: 2vw;
    font-family: "Montserrat-Light";
}

#phone {
    width: 24vw;
    margin-left: calc(100% - 6vw*6);
    margin-top: -8vw;
}

#tech-description {
    padding: 3vw;
    margin-top: 3vw;
    border: 0.6vw dotted #000000bd;
}

#tech-description span {
    font-family: "Montserrat-Light";
    font-size: 2em;
    line-height: 3vw;
}